nav(class="navbar navbar-static-top navbar-rethemed")
    div.container
        div.navbar-header
            button(
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar"
            )
                span(class="sr-only")
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")

            a(href="/" class="navbar-brand") Blog Of Death

        div(class="navbar-collapse collapse" id="navbar")
            ul(class="nav navbar-nav")

                li
                    a(href="/blogs") Blogs
                li
                    a(href="/topics") Topics
                if !user
                     li
                        a(href="/login") Admin Login


                if user
                    if !user.account.token

                        li
                            a(href="/blogs/create_blog" class="blogmenu createblog") + Create Blog
                        li
                            a(href="/blogs/edit_blog" class="blogmenu editblog") > Edit Blog

                  //li
                  //  form(class="navbar-form" role="search")
                  //      div.form-group
                  //          input(type="text" class="form-control" placeholder="Search Tags")
                  //      button(type="button" id="search-tag" class="btn btn-primary") Search


            p(class="navbar-right logout")
                if user
                    a(href="/logout" class="btn btn-default") Logout                 
                else 
                    a(href="/auth/facebook" class="btn btn-fb")
                        span(class="fa fa-facebook-official") User Login 

                if user
                    p(class="navbar-right user-as")
                        if user.account.token
                            img(src="//graph.facebook.com/#{user.account.id}/picture?type=square")
                        p(class="navbar-text signin-as") Signed in as 
                            span(class="user") #{user.account.name}


