nav(class="navbar navbar-inverse navbar-static-top")
    div.container
        div.navbar-header
            button(
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar"
            )
                span(class="sr-only")
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
               
            a(href="/" class="navbar-brand") Blog-Of-Death

        div(class="navbar-collapse collapse" id="navbar")
            ul(class="nav navbar-nav")
                
                li
                    a(href="/blogs") 
                        span(class="fa fa-book")  Blogs
                li
                    a(href="/topics") 
                        span(class="fa fa-columns")  Topics
                if !user
                     li
                        a(href="/login") 
                            span(class="fa fa-user-secret")  Admin Login
               
                
                if user
                    if !user.account.token
                    
                        li
                            a(href="/blogs/create_blog") 
                                span(class="fa fa-plus-square")  Create Blog
                        li
                            a(href="/blogs/edit_blog") 
                                span(class="fa fa-pencil-square")  Edit Blog

                  //li
                  //  form(class="navbar-form" role="search")
                  //      div.form-group
                  //          input(type="text" class="form-control" placeholder="Search Tags")
                  //      button(type="button" id="search-tag" class="btn btn-primary") Search
                
        
            p(class="navbar-text navbar-right")
                if user
                    a(href="/logout" class="btn btn-default") 
                        span(class="fa fa-power-off")  logout                 
                else 
                    a(href="/auth/facebook" class="btn btn-primary")
                        span(class="fa fa-facebook-official")   login 
                      
                if user
                    p(class="navbar-text navbar-right")
                        if user.account.token
                            img(src="//graph.facebook.com/#{user.account.id}/picture?type=square")
                        p(class="navbar-text") Signed in as #{user.account.name}
                               
            
